@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject NavigationManager _nav

<TelerikRootComponent>
    <TelerikNotification @ref="_notificationRef"
                         HorizontalPosition="@NotificationHorizontalPosition.Center"
                         VerticalPosition="@NotificationVerticalPosition.Top"
                         AnimationType="@AnimationType.PushDown"
                         AnimationDuration="5">
    </TelerikNotification>

    <TelerikAppBar PositionMode="AppBarPositionMode.Fixed"
                   Position="AppBarPosition.Top">
        <AppBarSection>
            <img src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full.svg" alt="">
        </AppBarSection>

        <AppBarSpacer></AppBarSpacer>

        <AppBarSection>
            <TelerikTextBox @bind-Value="@_search"
                            Class="ps-2"
                            Placeholder="Search"
                            Width="500px"
                            DebounceDelay="500"
                            Rounded="@ThemeConstants.TextBox.Rounded.Full">
                <TextBoxSuffixTemplate>
                    <TelerikButton Icon="@SvgIcon.Search"
                                   Size="@ThemeConstants.Button.Size.Large"
                                   OnClick=@(() => _nav.NavigateTo("/"))></TelerikButton>
                </TextBoxSuffixTemplate>
            </TelerikTextBox>
        </AppBarSection>

        <AppBarSpacer></AppBarSpacer>

        <AppBarSection>
            <TelerikButton Icon="@SvgIcon.Home"
                           Class="px-4"
                           OnClick=@(() => _nav.NavigateTo("/"))>Home</TelerikButton>
        </AppBarSection>

        <AppBarSection>
            <AuthorizeView>
                <NotAuthorized>
                    <TelerikButton Icon="@SvgIcon.User"
                                   Class="px-4"
                                   OnClick=@(() => _nav.NavigateTo("/login"))>Account</TelerikButton>
                </NotAuthorized>
                <Authorized>
                    <TelerikDropDownButton Icon="@SvgIcon.User"
                                           Class="px-4"
                                           FillMode="@ThemeConstants.Button.FillMode.Flat"
                                           Rounded="@ThemeConstants.Button.Rounded.Large">
                        <DropDownButtonContent>User</DropDownButtonContent>
                        <DropDownButtonItems>
                            <DropDownButtonItem Icon="@SvgIcon.User"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Profile</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.ListOrdered"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Order</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.Supscript"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Supports</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.Home"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Logout</DropDownButtonItem>
                        </DropDownButtonItems>
                    </TelerikDropDownButton>
                </Authorized>
            </AuthorizeView>
        </AppBarSection>

        <AppBarSeparator></AppBarSeparator>

        <AppBarSection>
            <TelerikButton Icon="@SvgIcon.Cart"
                           Class="px-4"
                           OnClick=@(() => _nav.NavigateTo("/cart"))>Cart</TelerikButton>
        </AppBarSection>
    </TelerikAppBar>

    <main class="mb-5 w-75 mx-auto" style="background-color:f5f5fa; margin-top: 100px">
        <CascadingValue Name="Notification" Value="@_notificationRef">
            <CascadingValue Name="SearchText" Value="@_search">
                @Body
            </CascadingValue>
        </CascadingValue>
    </main>
</TelerikRootComponent>

@code
{
    private string? _search;
    private TelerikNotification _notificationRef;
}