@using TikiShop.WebClient.Services.BasketService
@using TikiShop.WebClient.Components.Common

@inject IBasketService _basketService
@inject NavigationManager _navManager

<TelerikCard Class="border-primary-subtle rounded-4 border">
    <div class="m-auto" style="cursor:pointer;"
         @onclick=@(() => _navManager.NavigateTo($"/products/{ProductsInfo.Id}"))>
        <CardImage Src="@ProductsInfo.ThumbnailUrl"
                   Width="100%"
                   Height="100%"
                   Class="border-secondary-subtle m-auto border"></CardImage>
    </div>

    <CardBody>
        <div style="height:60px;cursor:pointer;" @onclick=@(() => _navManager.NavigateTo($"/products/{ProductsInfo.Id}"))>
            <!-- Truncate product name if it exceeds 20 characters -->
            @if (ProductsInfo.Name.Length > 55)
            {
                @($"{ProductsInfo.Name.Substring(0, 55)}...")
            }
            else
            {
                @ProductsInfo.Name
            }
        </div>

        <CardSeparator></CardSeparator>

        <div class="d-flex justify-content-around mt-2">
            <Rating Max="5" Star="@((int)ProductsInfo.RatingAverage)"></Rating>
            <CardSubTitle>@ProductsInfo.TotalBought</CardSubTitle>
        </div>

        <CardSeparator></CardSeparator>

        <CardTitle Class="mt-2 text-danger">@(ProductsInfo.Price)$</CardTitle>
    </CardBody>
    <CardActions Layout="@CardActionsLayout.Stretch">
        <TelerikButton OnClick=@(() => OnClickAddToCartButton(ProductsInfo.Id))
                       Icon="@SvgIcon.Cart"
                       Rounded="@ThemeConstants.Button.Rounded.Full">
            Add To Cart
        </TelerikButton>
    </CardActions>
</TelerikCard>